@use "@/assets/css/variables" as *;

.section-info-card {

    .card-img-top {
        &.ratio {
            &.ratio-1x1 {
                aspect-ratio: 1/1;
            }
            &.ratio-4x3 {
                aspect-ratio: 4/3;
            }
            &.ratio-16x9 {
                aspect-ratio: 16/9;
            }
            &.ratio-21x9 {
                aspect-ratio: 21/9;
            }
        }
    }

    .card-body {
        background: $background-info-card-dark;
    }

    p {
        color: $font-color-dark;
    }
}
