@use "@/assets/css/variables" as *;

.section-table {
    &.table-transparent {
        th, td {
            background-color: transparent;
        }
    }

    &.table-bordered-half {
        tbody {
            tr {
                &:last-child {
                    td {
                        border-bottom-width: 0;
                    }
                }
            }
        }
    }

    &.table-bordered-none {
        tbody {
            tr {
                td {
                    border-bottom-width: 0;
                }
            }
        }
    }
}