@import "@/assets/css/_variables.scss";

.section-content {
    &.dark {
        background: $background-dark;
        color: $font-color-dark;
    }

    &.light {
        background: $background-light;
        color: $font-color-light;
    }
}