@use "@/assets/css/variables" as *;

.section-row-layout {
    &.dark {
        background: $background-dark;
        color: $font-color-dark;
    }

    &.light {
        background: $background-light;
        color: $font-color-light;
    }
}