@use "@/assets/css/variables" as *;

.section-footer {
    background: $background-footer;

    .container {
        color: $font-color-dark;

        .logo-app {
            padding-right: 3rem;
            max-width: 10rem;
            width: 100%;
        }

        .logo-main {
            max-width: 10rem;
            width: 100%;
        }

        address {
            .address {

            }

            .contact {
                .caption {
                    display: inline-block;
                    width: 5rem;
                }
            }
        }
    }
}