$primary-color: rgb(2, 15, 65);

$background-dark: rgba(0, 0, 0, 0) linear-gradient(92deg, rgb(0, 0, 7) 0%, rgb(0, 38, 73) 72%, rgb(0, 61, 112) 100%) repeat 0 0 / auto padding-box border-box scroll;
$background-light: rgb(234, 244, 249);

$font-color-dark: rgb(255, 255, 255);
$font-color-light: $primary-color;

$button-primary-background-color: rgb(236, 195, 47);
$button-primary-background-color-2: rgb(223, 183, 39);

$button-primary-background-color-hover: mix(black, $button-primary-background-color, 20%);
$button-primary-background-color-hover-2: mix(black, $button-primary-background-color-2, 20%);

$section-distance: 2rem !important;
