@use "@/assets/css/variables" as *;

@font-face {
    font-family: 'Inter';
    src: url('@/assets/font/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('@/assets/font/inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;

    article.section-page-main {
        > header, > section, > footer {
            margin-bottom: 0 !important;
        }

        section {
            &.section-column-layout {
                .section-column {
                    //border: 1px solid red;

                    >:last-child, >.last-content > * {
                        margin-bottom: 0 !important;
                        //background-color: rgba(255, 0, 0, 0.25);
                    }
                }
            }

            &.section-row-layout {
                .section-row {
                    //border: 1px solid green;

                    >:last-child, >.last-content > * {
                        margin-bottom: 0 !important;
                        //background-color: rgba(0, 255, 0, 0.25);
                    }
                }
            }

            &.section-responsive-grid {
                .section-responsive {
                    //border: 1px solid blue;

                    >:last-child, >.last-content > * {
                        margin-bottom: 0 !important;
                        //background-color: rgba(0, 0, 255, 0.25);
                    }
                }
            }
        }

        div.card-body {
            >:last-child, >.last-content > * {
                margin-bottom: 0 !important;
            }
        }
    }
}

/**
 * General styles.
 */
body {
    p.text-hyphens {
        hyphens: auto;
    }
}